body{
   margin-left: 350px;
    margin-right: 350px;
    display: inline-block;   
}
#Keaney{
    float: left;
    margin-right: 10px;
    margin-top: 3px;
    margin-left:10px;
}
#GymHis{
    text-align: left;    
    background-color: lightgrey;
    display: inline-block;
    font-size: large;
}
#KGym{
    font-size: large;
    background-color: lightgrey;
}
#PFac{
    font-size: large;
}
#text{
    font-size: x-large;
    margin-left: 10px;
    margin-right: 10px;
}
#Wrap{
    background-color: lightgray;
}
#KT{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
#trackText{
    text-align: left;
}
#swimming{
    width: 700px;
    
}
h1{
    size: larger;
}